<div class="pull-right">
  <%= link_to 'New Book', new_book_path, class: "btn btn-default" %>
</div>


<h1>Listing Books</h1>

<div>
  <% if @books.empty? %>
      <h3>No books here</h3>
      <%= link_to 'New Book', new_book_path, class: "btn btn-default" %>
  <% end %>
</div>

<% @books.each do |book| %>
    <h3><%= link_to book.name, book %></h3>
    <p><%= book.description %></p>
<% end %>

<%= will_paginate @books, renderer: BootstrapPagination::Rails %>